// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-royal-blue: #3C52E6;
$color-white-smoke: #F5F5F5;
$color-dark-gray: #ACACAC;

$color-black-20: rgba($color-black, 0.2);
$color-royal-blue-90: rgba($color-royal-blue, 0.9);

// Typography
$ff-norms: "TTNormsPro", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: ease-in 0.3s;
